
*
{
	font-family:Cambria,Calibri,"Century Schoolbook",Arial,"Times New Roman";
	line-height: 22px;
}


pre {
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	padding: 5px;
	line-height: 19px;
	overflow: auto;
	padding: 6px 10px;
	border-radius: 3px;

}

pre, pre *, code
{
	font-family: Monaco, Menlo, 'Ubuntu Mono', 'Droid Sans Mono', 'Courier New', monospoace, Georgia, serif, Consolas,"Nimbus Mono",Monaco,Anonymous;
	font-size:13px;
}


code:not([class])
{
	font-size: 10px;
	margin: 0 2px;
	padding: 1px 6px;
	white-space: nowrap;
	border: 1px solid #EAEAEA;
	background-color: #F2EEEE;
	border-radius: 3px;
}

div.syntax, div.highlight {
    margin-top: 15px;
    margin-bottom: 10px;
	margin-left:20px;
}


div.syntax pre, div.highlight pre {
    background-color: transparent;
    padding: 10px;
    border: none;
}

a
{
	color:#000;
}


/*



code
{
	font-family: Monaco, Menlo, 'Ubuntu Mono', 'Droid Sans Mono', 'Courier New', monospoace, Georgia, serif, Consolas,"Nimbus Mono",Monaco,Anonymous;
	font-size:10pt;
	margin: 0 2px;
	padding: 1px 6px;
	white-space: nowrap;
	border: 1px solid #EAEAEA;
	background-color: #F2EEEE;
	border-radius: 3px;
}

pre
{
	font-family:"Courier New","Nimbus Mono";
	font-size:9pt;
	background-color: #F2EEEE;
	border: 1px solid #CCC;
	font-size: 13px;
	line-height: 19px;
	overflow: auto;
	padding: 6px 10px;
	border-radius: 3px;
	
}
*/

.pin
{
	background-image:url('../images/yellow-pin.png');
	width: 32px;
	height: 32px;
	margin: -20px -25px;
	float: left;
}

.notice
{
	background-color: #BFE0B4;
	color: #005959;
	border: 1px solid #D9FFCC;
	border-radius: 5px;
	padding: 5px 20px;
}

.hidden
{
    display: none;
}

/** github code snippet area */
div.line > *
{
	font-family:"Courier New",Cosolas,"Nimbus Mono",Monaco,Anonymous;
	font-size:9pt;
}

#left
{
	float:left;
	width: 240px;
	height:auto;
	left: 0px;
	padding:0 40px 0 30px;
}

#right
{
	width: 700px;
	margin-left:320px;
}


#followme
{
	list-style-type: none;
	display: block;
	list-style: none;
}

#followme > li
{
	display:inline;
}

nav  ul
{
	margin: 20px 0;
	border-top: 1px solid #DDD;
}

nav  ul li
{
	list-style-type: none;
	margin: 0;
	padding: 8px 0;
	border-bottom: 1px solid #DDD;
}

nav a
{
	text-decoration:none;
	color: black;
}


nav li:hover
{
	background-color:#F2EEEE;
}

nav ul.recent
{
	margin: 0;
	padding:  0;
}

article h1
{
	font-size:1.8em;
}

article h2
{
	font-size:1.2em;
}

article.homepage h1
{
	font-size:1.4em;	
}

article.homepage h2
{
	font-size:1em;	
}

article.homepage h3
{
	font-size:0.9em;	
}

article.homepage h4
{
	font-size:0.8em;	
}


#post > .title
{
	font-size:1.5em;
	text-align:center;
	font-weight:bold;
}

#post > .author
{
	font-style:italic;
	text-align:right;
}

.date
{
	font-style:italic;
}

#post > .date
{
	text-align:center;
}

.entry-title, .entry-author, .date
{
	text-align:center;
}

time.date
{
text-align:center;	
}

#left > div.widget
{
	margin-top:20px;
}

/******************* SOCIAL ICONS *********************/
.social
{
	width: 32px;
	height: 32px;
	display: inline-block;
	padding: 0;
}

.social.fb
{
	background-image:url('../images/facebook.gray.png');
}

.social.fb:hover
{
	background-image:url('../images/facebook.color.png');
}

.social.twitter
{
	background-image:url('../images/twitter.gray.png');
}

.social.twitter:hover
{
	background-image:url('../images/twitter.color.png');
}

.social.rss
{
	background-image:url('../images/rss.grey.jpg');
}

.social.rss:hover
{
	background-image:url('../images/rss.color.jpg');
}

.social.gplus:hover
{
    background-image:url('../images/gplus-icon.png');
}

.social.gplus
{
    background-image:url('../images/gplus-icon.color.png');
}

figure, figcaption
{
	text-align: center;
}


figure.image figcaption
{
	font-size:12pt;
	font-style:italic;
	padding: 5px;
}

a.permalink
{
	font-size:16px;
}

#search
{
	margin-top: 50px;
}

div.pagination
{
	font-size: 120%;
}