---
layout: default
title: Mahesh Subramaniya - Experiences of sofware development
excerpt: Sharing the experiences of enterprise application development, computer science and engineering
meta-robots: noodp, noydir
tags: J2EE, J2EE Frameworks, Enterprise Architecture, Distributed, Cloud Computing, Performance
id: index
---

<div id="wrapper-home">

	<div>
			<h3>Hobbies/Projects</h3>
			<ul>
				<li>Lead Mentor for <a href="https://www.teameureka.org">First Lego League <em>Team Eureka</em></a></li>
			{% for post in site.categories.projects %}
					<li><article class="project-title">
						<div class="entry">
							{% if post.project_url %}
								{% assign url = post.project_url %}
							{%else %}
								{% assign url = post.url %}
							{% endif %}
								<a href="{{ url }}">{{ post.title }}</a> - <span class="excerpt">{{ post.excerpt }}</span>
						</div>
					</article>
				</li>
			{% endfor %}
			<li>More projects at <a href="https://github.com/msubra">https://github.com/msubra</a></li>
			</ul>
	</div>

	<div>
		<h3>Posts</h3>
		<ol reversed>
		{% for post in site.posts %}
			{% unless post.categories contains 'projects' %}
				<article class="post-title">
					<div class="entry">
							<li><a href="{{ post.url }}">{{ post.title }}</a></li>
					</div>
				</article>
			{% endunless %}
		{% endfor %}
	</ol>

	</div>

	
	<div style="clear:both;"></div>

</div>
