---
layout: default
title: Mahesh Subramaniya - Experiences of sofware development
excerpt: Sharing the experiences of enterprise application development, computer science and engineering
meta-robots: noodp, noydir
tags: J2EE, J2EE Frameworks, Enterprise Architecture, Distributed, Cloud Computing, Performance
---

<ul class="no-bullet">
	<h2>Projects</h2>	

	{% for post in site.categories.projects limit:5 %}
		<li>
			<article class="homepage post">
				<header class="post-header">
					<h4 class="post-title">
					{% if post.project_url %}
						{% assign url = post.project_url %}
					{%else %}
						{% assign url = post.url %}
					{% endif %}
						<a href="{{ url }}">{{ post.title }}
						</a>
					</h4>
				</header>
			  	<div class="excerpt">{{ post.excerpt }}</div>
			</article>
		</li>
	{% endfor %}
</ul>

<ul class="no-bullet">
	<h2>Posts</h2>	
	{% for post in site.posts limit:10 %}
		{% if post.categories contains 'not-home' or post.categories contains 'projects' %}
		{% else %}
			<li>
				<article class="homepage post">
					<header class="post-header">
						  <h4 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h4>
					</header>
				  	<div class="excerpt">{{ post.excerpt }}</div>
				</article>
			</li>
		{% endif %}
	{% endfor %}
	<li><a href="/posts.html" class="button">More Posts → </a></li>
</ul>

