
	<meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta name="author" content="{{site.author}}"/>
  <meta name="copyright" content="&copy; Copyright 2004 to Present"/>

  <!-- all the mobile settings -->
  <meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">

  <!-- <meta name="MobileOptimized" content="320"> -->

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="date" content="{{ page.date | date: '%Y' }}-{{ page.date | date: '%m' }}-{{ page.date | date: '%d' }}" />
	<meta name="robots" content="{{ site.google_robots}}" />

	<meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{site.twitter_id}}">
    <meta name="twitter:creator" content="@{{site.twitter_id}}">
    <meta name="twitter:url" content="{{site.url}}">
    <meta name="twitter:title" content="{{site.site_name}} - {{site.sub_title}}">
    <meta name="twitter:description" content="MaheshSubramaniya.com is a blog on {{site.sub_title}}">

    <link rel="canonical" href="{{site.url}}"/>

   {% if page.meta-description %}
	   <meta name="description" content="{{ page.meta-description}}" />
   {% else if page.excerpt %}
     <meta name="description" content="{{ page.excerpt}}" />
   {% else if page.title %}
	   <meta name="description" content="{{ page.title }}" />
   {% else %}
   		<meta name="description" content="Learn about the complex concepts and methodology of computer science and enterprise application development" />
   {% endif %}

   {% if page.tags %}
   <meta name="keywords" content="{{page.tags | join:","}}" />
   {% else %}
   <meta name="keywords" content="J2EE, J2EE Frameworks, Enterprise Architecture, Distributed, Cloud Computing, Performance" />
   {% endif %}

   {% comment %} an hack to display proper tag name {% endcomment %}
   <title>{{ page.title }}</title>

   <link href="{{site.url}}/atom.xml" rel="alternate"
	 	title="{{site.site_name}}" type="application/atom+xml" />

   <link href="{{site.url}}/rss.xml" rel="alternate"
	 	title="{{site.site_name}}" type="application/rss+xml" />


   <link rel="stylesheet" href="/css/foundation.css" />
   <link rel="stylesheet" href="/css/sandbox.css" />
   <link rel="stylesheet" href="/css/keys.css" type="text/css" />
   <link rel="stylesheet" href="/css/syntax.css" />

   <script src="/js/modernizr.js"></script>
   <script src="/js/jquery.js"></script>


