<!DOCTYPE html>
<html>
	<head>
		{% include header.html %}
	</head>
	<body class="container">
		<header class="nav">
			<a class="nostyle" href="/">Mahesh Subramaniya</a>
			<nav class="nav-right" style="vertical-align:middle">
				<a href="/about">about</a>
				<a href="https://www.twitter.com/msubramaniya" title="twitter" class="twitter">@msubramaniya</a>
				<a href="https://maheshsubramaniya.wufoo.com/forms/z15f2lce1qkhw4y" title="Contact">contact</a>
			</nav>
		</header>
		<section id="content">
			{{ content }}
		</section>

		<footer>
		</footer>
	</body>
</html>