<!DOCTYPE html>
<html>
	<head>
		{% include header.html %}
	</head>
	<body>
		{% if page.id == "index" %}
			{% include blog-title.html %}
		{% endif %}

		<section id="content">
			{{ content }}
		</section>

		<footer>
			<div class="center" style="text-align:center;">
			    <ul class="menu">
			      <li></li>
			      <li><a href="/" title="Home">Home</a></li>
			      <li><a href="/about.html" title="About">About</a></li>
			      <li><a href="/contact.html" title="Contact">Contact Me</a></li>
						<li><a href="/atom.xml" title="RSS">RSS</a></li>
			    </ul>
			    <small>© {{site.author}} - 2004 to today</small>
			  </div>
		</footer>

	</body>

	<script>window.twttr = (function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0],
	    t = window.twttr || {};
	  if (d.getElementById(id)) return t;
	  js = d.createElement(s);
	  js.id = id;
	  js.src = "https://platform.twitter.com/widgets.js";
	  fjs.parentNode.insertBefore(js, fjs);

	  t._e = [];
	  t.ready = function(f) {
	    t._e.push(f);
	  };

	  return t;
	}(document, "script", "twitter-wjs"));
	</script>

</html>