---
layout: default
---

<article class="homepage post">
	<header class="post-header">
		  <h2>{{ page.title }}</h2>
	</header>
	<p>{{ content }}</p>

  	<footer >


<a class="punch" href="https://twitter.com/intent/tweet?text=Nice Read: {{ page.title }}&url={{site.url}}{{page.url}}&via={{site.twitter_id}}">
	<span style="
	    background: url('https://dev.twitter.com/sites/default/files/images_documentation/bird_blue_32.png') no-repeat 0 0;
	    width: 32px;
	    height: 32px;
	    display: block;
	    float: left;
	    margin-left: 10px;
	"></span>
	<span style="
	    float: left;
	    margin-left: 10px;
	">I like it</span>
	</a>

		<small class="right">	
			Published on: <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>
		</small>

	<div id="disqus_thread"></div>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  		

  	</footer>
</article>


