---
layout: default
---

<div id="wrapper">

<article class="post single">
	<header class="post-header">
		  <h2 class="post-title">{{ page.title }}</h2>
	</header>
	<p>{{ content }}</p>



	<small>
		<div class="tags">
			Tagged under:
			{% for tag in page.tags  %}
				<span>{{tag}},</span>
			{% endfor %}
		</div>

	</small>

	<nav class="page-navigation">
	        <div class="clear">&nbsp;</div>
	        <div class="left">
	        {% if page.previous.url %}
	                <a href="{{page.previous.url}}" title="Previous Post:
	{{page.previous.title}}">&laquo; {{page.previous.title}}</a>
	        {% endif %}
	        </div>

	        <div class="right">
	        {% if page.next.url %}
	                <a href="{{page.next.url}}" title="next Post:
	{{page.next.title}}">{{page.next.title}} &raquo; </a>
	        {% endif %}
	        </div>
	        <div class="clear">&nbsp;</div>

	</nav>

  	<footer >

		<small class="right">
			Published on: <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>
		</small>
		
		<div>
			<a class="twitter-follow-button" href="https://twitter.com/{{site.twitter_id}}" title="{{site.twitter_id}}">@{{site.twitter_id}}</a>
		</div>

  	</footer>
  	<!-- by {{site.author}} -->
</article>

</div>
