---
layout: default
---


<div itemscope itemtype="http://schema.org/Blog">

	<article id="post">

		<h1 class="title"><span  itemprop="name">{{ page.title }}</span>&nbsp;<a title="Permalink for {{ page.title }}" href="{{page.url}}" itemprop="url" class="permalink">&#x2693;</a></h1>

		<div class="date"><time itemprop="datePublished" datetime="{{page.date}}">{{page.date | date_to_string }}</time></div>
		
		<div class="entry-content" itemprop="blogPost">
		{{ content  }}
		</div>

		<h5>- by <span itemprop="author">Mahesh Subramaniya</span></h5>
		
	</article>

</div>

<hr/>

{% comment %}
<div id="disqus_thread"></div>
<script type="text/javascript">
	var disqus_shortname = 'mymindleaks'; // required: replace example with your forum shortname
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{% endcomment %}

